/* Dark Theme Color Palette for Dev Stickers Store */
/* https://colorffy.com/dark-theme-generator */
/* Background and Surface */
:root {
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #00bcd4;
  --color-primary-200: #47c4d9;
  --color-primary-300: #67cbde;
  --color-primary-400: #81d3e2;
  --color-primary-500: #99dae7;
  --color-primary-600: #afe2ec;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #192122;
  --color-surface-mixed-200: #2e3637;
  --color-surface-mixed-300: #454c4c;
  --color-surface-mixed-400: #5d6363;
  --color-surface-mixed-500: #767b7b;
  --color-surface-mixed-600: #8f9494;

  /** APPLIED COLORS */
  --color-background: var(--color-surface-100);
  --color-surface: var(--color-surface-mixed-300);
  --color-text: white;
  --color-border: var(--color-surface-mixed-400);
  --color-primary: var(--color-primary-400);
  --color-error: red;
}
